<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>assignment2</display-name>
  <welcome-file-list>
    <welcome-file>welcome</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>controller.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailVerifyServlet</servlet-name>
    <servlet-class>controller.EmailVerifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>controller.BookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AvailabilityServlet</servlet-name>
    <servlet-class>controller.AvailabilityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>controller.StaffServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>controller.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssignRoomsServlet</servlet-name>
    <servlet-class>controller.AssignRoomsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitUpdateProfileServlet</servlet-name>
    <servlet-class>controller.SubmitUpdateProfileServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>controller.ShoppingCartServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ReviewBookingServlet</servlet-name>
    <servlet-class>controller.ReviewBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailVerifyServlet</servlet-name>
    <url-pattern>/emailverify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/booking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AvailabilityServlet</servlet-name>
    <url-pattern>/availability</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssignRoomsServlet</servlet-name>
    <url-pattern>/assignrooms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitUpdateProfileServlet</servlet-name>
    <url-pattern>/submitupdateprofile</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/shoppingcart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewBookingServlet</servlet-name>
    <url-pattern>/ReviewBooking</url-pattern>
  </servlet-mapping>
</web-app>